<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>

<h1>Add Employee</h1>

<form method="post">
    {% csrf_token %}
    Fullname <br/>
    <input type="text" name="fullname" size="30" required/>
    <p></p>
    Job <br/>
    <input type="text" name="job"  style="width:150px"  required/>
    <p></p>
    Salary <br/>
    <input type="number" name="salary"  style="width:150px" required />
    <p></p>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>
